*~
bin
obj
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
Reports
*/build
TestResults
*.pidb
*.usertasks
*.userprefs
*.origtest-resultsdist
*.ncrunchsolution
*.ncrunchproject
*.crunchsolution.cache
*.DotSettings
