<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.1-beta3" targetFramework="net46" />
  <package id="Oocx.ACME" version="0.0.0-beta-75" targetFramework="net46" />
  <package id="Oocx.ACME.Common" version="0.0.0-beta-75" targetFramework="net46" />
  <package id="Oocx.Asn1PKCS" version="0.0.0-beta-75" targetFramework="net46" />
  <package id="System.Linq" version="4.0.1-beta-23409" targetFramework="net46" />
  <package id="System.Net.Http" version="4.0.1-beta-23409" targetFramework="net46" />
  <package id="System.Runtime" version="4.0.21-beta-23409" targetFramework="net46" />
  <package id="System.Threading" version="4.0.11-beta-23409" targetFramework="net46" />
</packages>